langchain==0.3.19
langchain-openai==0.3.7
langchain-core==0.3.40
langchain-text-splitters==0.3.6
langchain-community==0.3.18
langgraph==0.3.1
IPython==8.20.0
speechrecognition==3.14.1
typing-extensions==4.12.2
streamlit==1.42.2
streamlit_chat==0.1.1
kokoro==0.9.4
soundfile==0.13.1
torch==2.3.0
numpy==1.26.4
transformers==4.50.0
pandas==1.5.3